<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--
<mapper namespace="dao.UserMapper">


   <select id="getNameById"  parameterType="int"  resultType="User">
       SELECT * FROM user WHERE ID = #{n}
   </select>

</mapper>
-->
<mapper namespace="com.yjy.demo.Mapper.UserMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
   使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回     User类就是users表所对应的实体类
     -->
    <!-- @MapperScan("com.lianjinsoft.mapper")
        根据id查询得到一个user对象
     -->
    <select id="getEntityByUsername"  parameterType="String"   resultType="com.yjy.demo.Pojo.User">
         select * from user_login where username=#{username}
    </select>
</mapper>